{% extends 'layouts/base.html' %}

{% block title %}TSCT Portal - Courses{% endblock %}

{% block content %}

<header>

  <h2>Course Management</h2>
  <a class="back" href="{{ url_for('index')}}">Home</a>

</header>


<section id='hover' class='teacher_courses'>
  <!--Start of teacher edit section-->
  <h3>Courses</h3>

  <button type="submit" name="helpful">Helpful Tip</button>
  <div class="tip" id='assignment_tip'>
    <div class="header_pop">
      <div class="title_pop">
          Helpful Tip for Schedule
      </div>
      <button class='close_button' name="button">&times;</button>
    </div>
    <div class="boby_pop">
      Can't find assignments for the course?
      If you find the title of the course which you would like
      to see the assignments. Then hover over the title of the
      course. Click the course link when hovering.
    </div>
  </div>
<div id='overlay'>


  <table class='courses'>

    <tr>
      <th>Course Name</th>
      <th>Edit Course</th>
      <th>Session Page</th>
    </tr>

  {% for course in courses %}

        <tr class='course'>

          <td><h4>{{ course['course_title'] }}</h4></td>
          <!--Name of each course from database-->

            <td><a href="{{ url_for('courses.course_edit', course_id=course['course_num']) }}">Edit</a></td>

            <td><a href="{{ url_for('sessions.session_manage', course_id=course['course_num'])}}">Sessions</a></td>

        </tr>


    {% endfor %}

  </table>

  <h3>Click the link below to create a new course</h3>

  <a href="{{ url_for('courses.course_create')}}" name="createButton">Add Course</a>

</section><!-- end of teacher edit section-->
</div>
{% endblock %}
