{% extends 'layouts/base.html' %}

{% block title %}TSCT Portal - Courses{% endblock %}

{% block content %}

<header>

  <h2>Course Management</h2>
  <a class="back" href="{{ url_for('index')}}">Home</a>

</header>


<section class='teacher_courses'>
  <!--Start of teacher edit section-->
  <h3>Courses</h3>

  <table class='courses'>

  {% for course in courses %}

    {% if g.user['id'] == course['teacher_id'] %}


        <tr class='course'>

          <td><h4>{{ course['course_title'] }}</h4></td>
          <!--Name of each course from database-->

            <td><a href="{{ url_for('courses.course_edit', course_id=course['course_num']) }}">Edit</a></td>

            <td><a href="{{ url_for('sessions.session_manage', course_id=course['course_num'])}}">Sessions</a></td>

        </tr>

      {% endif %}

    {% endfor %}

  </table>

  <h3>Click the link below to create a new course</h3>

  <a href="{{ url_for('courses.course_create')}}" name="createButton">Add Course</a>

</section><!-- end of teacher edit section-->
{% endblock %}
