{% extends 'layouts/base.html' %}

{% block title %}TSCT Portal - Grades for assignment{% endblock %}

{% block content%}

<header>

  <h2>Grades for {{ assignments['assign_name'] }}</h2>
  <a class="back" href="{{ url_for('assign.assign_manage', course_id=session['course_id'], sessions_id=session['id']) }}">Back</a>

</header>

<p>{{ assignments['description'] }}</p>

<table>
  <tr>
    <th>Student Name</th>
    <th>Grade</th>
  </tr>
  {% for student in students %}
    <tr>
      <td>{{ student['name'] }}</td>
      <td>{{ student_submissions['grade'] }}/{{ assignments['points'] }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
