{% extends "layouts/base.html" %}

{% block title %}Grade Page{% endblock %}

{% block content %}
<header>

  <h2>Grades for {{ course['course_title'] }}</h2>

  <a class="back" href="{{ url_for('student_views.view_schedule') }}">Back</a>

</header>
<section class='grades'>
  <table class="courses">

    <tr>
      <th>Assignment</th>
      <th>Grade</th>
      <th>Feedback</th>
    </tr>

    {% for submission in submissions %}

    <tr>

      <td>{{ submission['assign_name'] }}</td>
      <td>{{ submission['grade'] }}/{{ submission['points'] }}</td>
      <td class='feedback'>
        {% if submission['feedback'] %}

          {{ submission['feedback'] }}

        {% endif %}

        {% if submission['feedback'] == None %}

          <span>No Feedback</span>
          
        {% endif %}

      </td>
    </tr>

    {% endfor %}

  </table>
</section>

{% endblock %}
